


//HEADER
.header{
    min-height: 30vh;
    padding: 20px 0 0;
    p{
        font-size: 1.5rem;
        right: 50px;
        top: 20px;
    }
}



.logo{
    img{
        margin: 0;
        padding: 10px 20px;
    }
}

.burger,
.header-user{
  display:none;
}

.header-nav{
    background-color: $dark-grey;
}

.main-nav {
    align-items: right;
    display: block;

    ul{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }
    a{
        display: block;
        padding: 1rem;
        margin : 0 0.5rem;
    }
}




//MAIN


.trip-items{
    display: flex;
    justify-content: space-around;
}

.item-infos{
    padding-top: 70px;
    .btn{
        margin-top: 70px;
    }
}


.item_desc{
        line-height: 1.5rem;
        padding-top:30px;
}


//FOOTER




