// layout
$max-width: 1200px;
$bp-tablet: 768px;
$bp-desktop:1024px;
$marge: 15px;

//Typos

$font-default:'Lato', sans-serif;
$font-size-base: 87.5%; // correspond à 14px


//Colors

$dark-grey:#1F1C1C;
$light-brown:#7E4E46;
$brown:#634F46;
$gold:#EE9001;
$grey:rgb(44, 43, 43);

$link-color: $gold;


